#text {
	width: 100%;
}
.wrapper{
	height: 100vh;
	display: flex;
	align-items: center;
	background: url('../img/bg.jpg') no-repeat center center / cover;
}
h1{
	color: white;
}
label{
	color: white;
}

@media (max-width: 560px){
	.offset-3{
		margin-left: 8.333%;
	}
	.col-6{
		max-width: 100%;
	}
}
